{% extends 'common/base.html' %}

{% block title %}
<title>MetaDataApp</title>
{% endblock %}

{% block sidebar %}
<div id="sidebar" class="col-sm-2 col-md-2 col-lg-2" role="navigation">
  <div class="list-group navsiebar">
    <li class="sidebar-header">MetaData App</li>
    <a href="{% url 'masterseq_app:sample_add' %}" class="list-group-item list-group-item-action-custom-green editable">Add a new sample</a> 
    <a href="{% url 'masterseq_app:library_add' %}" class="list-group-item list-group-item-action-custom-green ">Add a new library</a>
    <a href="" class="list-group-item list-group-item-action-custom-green">Add new sequencings</a>      
  </div>
</div> 
{% endblock %}

{% block content %}
{% endblock %}