{% load nextseq_app_tags %}
{% load humanize %}
<div class="row" id="libraries">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card bottom15">
      <div class="card-header fortable collapseheader">
        <a data-toggle="collapse" href="#collapse3" aria-expanded="true" aria-controls="collapse2"><i class="fa fas fa-caret-right collapseheader fa-lg fa-fw"></i><i class="fa fa-caret-down collapseheader fa-lg fa-fw"></i></a>
        Libraries
        <button type="button" class="close" aria-label="Close">
           <span aria-hidden="true">&times;</span>
        </button>
      </div><!-- /.card-header -->
      <div class="collapse show" id="collapse3">
        <div class="card-body">
          <br />
          <table class="table table-sm table-striped text-center table-responsive-xl">

            
            <thead>
            <tr>
              {% for x in libfield %}
              <th>{{ x }}</th>
              {% endfor %} 
            </tr>
            </thead>
            <tbody></tbody>

            {% for lib in libinfo %}
            <tr>
              {% for x in libfield %}
              <td>
                {% if x == 'library_id' %}
                <a href="{% url 'masterseq_app:lib_detail' lib.pk %}">{{ lib|get_value:x|default_if_none:"" }}</a>
                {% else %}
                {{ lib|get_value:x|default_if_none:"" }}
                {% endif %}
            </td>
              {% endfor %}
            </tr>
            {% endfor %}
            </tbody>               
          </table>
        </div><!-- /.card-body --> 
      </div><!-- /.collapse -->             
    </div><!-- /.card -->
  
  </div>
</div>