{% load nextseq_app_tags %}
<div class="row" id="summary">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card bottom15">
      <div class="card-header fortable collapseheader">
        <a data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapse1"><i class="fa fas fa-caret-right collapseheader fa-lg fa-fw"></i><i class="fa fa-caret-down collapseheader fa-lg fa-fw"></i></a>
        Summary
        <button type="button" class="close" aria-label="Close">
           <span aria-hidden="true">&times;</span>
        </button>
      </div><!-- /.card-header -->
      <div class="collapse show" id="collapse1">
        <div class="card-body">
          <table class="summarytable">
            <tbody>  
                {% for field in summaryfield %}
              <tr>
                <th>
                  {{ field|humantitle}}:
                  
                </th> 
                <td>
                  {% if field == 'sampleinfo' %}
                  <a href="{% url 'masterseq_app:sample_detail' sampleinfo.pk %}">{{ libinfo|get_value:field|default_if_none:""}}</a>
                  {% else %}
                  {{ libinfo|get_value:field|default_if_none:""}}
                  {% endif %}
                  
                </td>
              </tr>
               
              {% endfor %}  
            </tbody>
            
          </table>
        </div><!-- /.card-body -->              
      </div><!-- /.collapse --> 
    </div><!-- /.card -->
  </div>
</div>