*pycache*
*\#*
.idea
.DS_Store
*~
deploy.ini
groupUsers.cfg
logfile
**/migrations/**
!**/migrations
!**/migrations/__init__.py
*.cfg
scripts/collaboratorpassword.tsv
data/web*
*_local.sh
.ipynb_checkpoints/*
.vscode