{% extends 'collaborator_app/collab_base.html' %}

  {% block title %}
  <title>SetQCApp</title>
  {% endblock %}

{% block sidebar %}
<div id="sidebar" class="col-sm-2 col-md-2 col-lg-2" role="navigation">
  <div class="list-group navsiebar">
    <li class="sidebar-header">SetQC App</li>
    <a href="{% url 'collaborator_app:usersetqcs' %}" class="list-group-item list-group-item-action-custom-green editable">My Reports</a>     
  </div>
</div> 
{% endblock %}

{% block content %}
{% endblock %}