{% load nextseq_app_tags %}
<h1>runid:  {{ runinfo.runid }}</h1>

<form action="{% url 'nextseq_app:samples_delete' runinfo.id %}" method="GET">
<table border="1">
  <tr>
    <th>Select to delete</th>
    <th>sampleid</th>
    <th>i7index</th>
    <th>i7sequence</th>
    <th>i5index</th>
    <th>i5sequence</th>
  </tr>

{% for samples in runinfo.samplesinrun_set.all %}
  <tr>
    <!--<td><input type="checkbox" name="checkbox_list" value="coding"></td>>-->
    <td><input type="checkbox" name="delete_list" value={{samples.sampleid}}></td>
    <td>{{samples.sampleid}}</td>
    <td>{{samples.i7index}}</td>
    <td>{{ barcode|key:samples.i7index }}</td>    
    <td>{{samples.i5index}}</td>
    <td>{{ barcode|key:samples.i5index }}</td>
  </tr>
{% endfor %}


</table>

<input type="submit" value="delete">
</form>

<p><a href="{% url 'nextseq_app:sample_add' runinfo.id %}"> Add a new Sample</a></p>
<p><a href="{% url 'nextseq_app:samples_bulkadd' runinfo.id%}"> Add multiple Samples in One submission</a></p>
<p><a href="{% url 'nextseq_app:samplesheet_create' runinfo.id %}"> Export to SampleSheet.csv</a></p>