{% extends 'nextseq_app/base.html' %}

{% block body %}
{% load nextseq_app_tags %}
<br />
<br />
<br />
<br />
<div class="container">
      <div class="card" style="font-size: 14px;">
    <div class="card-body">

<h4>Samples in {{ runinfo.Flowcell }}-{{runinfo.date}}:</h4>
<br />
<p><a style="color:#447e9b; font-weight:bold; float:right" href="{% url 'nextseq_app:samplesheet_create' runinfo.id %}"> <i class="fas fa-save"></i>Save as SampleSheet.csv</a></p>
<br />
<table class="table table-sm table-striped">
  <thead>
  <tr>
    <th>sampleid</th>
    <th>i7index</th>
    <th>i7sequence</th>
    <th>i5index</th>
    <th>i5sequence</th>
  </tr>

{% for samples in runinfo.samplesinrun_set.all %}
  <tr>

    <td>{{samples.sampleid}}</td>
    <td>{{samples.i7index}}</td>
    <td>{{ barcode|key:samples.i7index }}</td>    
    <td>{{samples.i5index}}</td>
    <td>{{ barcode|key:samples.i5index }}</td>
  </tr>
{% endfor %}

</table>
</div>
</div>
</div>


{% endblock %}