{% extends 'nextseq_app/base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<br />
<br />
<br />
<br />
<div class="container">
    <div class="card">
    <div class="card-body">
{% if request.GET.q %}
<h4>{{number}} runs matched:</h4>
{% else %}
<h4>We have {{number}} runs in total:</h4>
{% endif %}
<a style="color:#447e9b; font-weight:bold" href="{% url 'nextseq_app:allsamples' %}"> See all samples </a>
<br />
<br />
<table id="myTable" class="table table-sm table-striped table-bordered text-center">
  <thead>
    <tr>
      
      <th scope="col">FlowcellSerialNumber</th>
      <th scope="col">Operator</th>
      <th scope="col">Date</th>
      <th scope="col">Read Type</th>
      <th scope="col">Read Length</th>
    </tr>
  </thead>
  <tbody>
  	{% for Run in RunInfo_list %}
    <tr>

      <td><a style="color:#447e9b; font-weight:bold" href="{% url 'nextseq_app:rundetail' Run.pk %}"> {{ Run.Flowcell }} </a></td>
      <td>{{ Run.operator }}</td>
      <td>{{ Run.date|date:"Y/m/d" }}</td>
      <td>{{ Run.read_type }}</td>
      <td>{{ Run.read_length }}</td>
    </tr>
    {% empty %}
    <li>No Runs yet.</li>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>

<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" ></script>
<script type="text/javascript">
   $(document).ready( function () {
    $('#myTable').DataTable();
} );

</script>

{% endblock %}