{% extends 'nextseq_app/base.html' %}

{% block body %}
<br />
<br />
<br />
<br />
<div class="container">
    <div class="card">
    <div class="card-body">
{% if request.GET.q %}
<h1>{{number}} runs matched:</h1>
{% else %}
<h2>We have {{number}} runs in total:</h2>
{% endif %}
<br />
<br />
<table class="table table-striped tablelg" >
  <thead>
    <tr>
      
      <th scope="col">FlowcellSerialNumber</th>
      <th scope="col">Operator</th>
      <th scope="col">Date</th>
      <th scope="col">Read Type</th>
      <th scope="col">Read Length</th>
    </tr>
  </thead>
  <tbody>
  	{% for Run in RunInfo_list %}
    <tr>

      <td><a style="color:#447e9b; font-weight:bold" href="{% url 'nextseq_app:rundetail' Run.pk %}"> {{ Run.Flowcell }} </a></td>
      <td>{{ Run.operator }}</td>
      <td>{{ Run.date|date }}</td>
      <td>{{ Run.read_type }}</td>
      <td>{{ Run.read_length }}</td>
    </tr>
    {% empty %}
    <li>No Runs yet.</li>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>

{% endblock %}