{% extends 'nextseq_app/base.html' %}

{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'nextseq_app/css/jquery.dataTables.min.css' %}"/>
<br />
<br />
<br />
<br />
<div class="container">
    <div class="card">
    <div class="card-body">
<h4> Hi {{ user.username }}!  Here are your runs:</h4>
<a style="color:#447e9b; font-weight:bold" href="{% url 'nextseq_app:usersamples' %}"> See all your samples </a>
<br />
<br />

<table id="myTable" class="table table-striped table-sm text-center">
  <thead>
    <tr>
      
      <th scope="col">FlowcellSerialNumber</th>
      <th scope="col">Operator</th>
      <th scope="col">Date</th>
      <th scope="col">Read Type</th>
      <th scope="col">Read Length</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  	{% for Run in RunInfo_list %}
    <tr>

      <td><a style="color:#447e9b; font-weight:bold" href="{% url 'nextseq_app:rundetail' Run.pk %}"> {{ Run.Flowcell }} </a></td>
      <td>{{ Run.operator }}</td>
      <td>{{ Run.date|date:"Y/m/d" }}</td>
      <td>{{ Run.read_type }}</td>
      <td>{{ Run.read_length }}</td>
      <td>
      	<a style="color:#447e9b; letter-spacing:10px;" href="{% url 'nextseq_app:run_update' username=user.username run_pk=Run.id %}"><i class="fas fa-edit"></i></a>
      	<a style="color:#447e9b;" onclick="return confirm('Are you sure you want to delete {{ Run.Flowcell }} ?');" href="{% url 'nextseq_app:run_delete2' Run.id %}"><i class="fas fa-trash-alt"></i></a>

      </td>
    </tr>
    {% empty %}
    <li>No Runs yet.</li>
    {% endfor %}
  </tbody>
</table>

</div>
</div>
</div>
<script src="{% static 'nextseq_app/js/jquery.dataTables.min.js' %}" ></script>
<script type="text/javascript">
   $(document).ready( function () {
    $('#myTable').DataTable();
} );

</script>
{% endblock %}