
  Hi {{ user.username }}! Here are your runs:
  <p><a href="{% url 'nextseq_app:logout' %}">logout</a></p>

{% if RunInfo_list %}
	<ul>
	{% for Run in RunInfo_list %}
		<li><a href="{% url 'nextseq_app:rundetail' Run.id %}">{{ Run.runid }}---{{ Run.date }}----{{ Run.is_pe }}----{{ Run.reads_length }}</a>
		<p><a href="{% url 'nextseq_app:run_update' Run.id %}"> Change </a>
			<a href="{% url 'nextseq_app:run_delete' Run.id%}"> Delete </a>
		</p>



		</li>
	{% endfor %}
	</ul>


{% else %}
	<p>No RunInfos are available.</p>
{% endif %}
<a href="{% url 'nextseq_app:runandsample_add' %}"> Add a new RunInfo </a>