{% extends 'nextseq_app/base.html' %}

{% block body %}
<br />
<br />
<br />
<br />
<div class="container">
    <div class="card">
    <div class="card-body">
<form action="" method="post">{% csrf_token %}
    <h3>Are you sure you want to delete "{{ object }}"?</h3>
    <br />
    <br />
    <input type="submit"  class="btn btn-info" value="Confirm" />
</form>
    <br />
    <br />
<a style="color:#447e9b;" href="{% url 'nextseq_app:index' %}">Back to my runs</a>
</div>
</div>
</div>
{% endblock %}