{% extends 'nextseq_app/base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>

{% load nextseq_app_tags %}
<br />
<br />
<br />
<br />
<div class="container" >
    <div class="card ">
    <div class="card-body">

{% if usersamples %}
<h4>You have {{number}} samples in total:</h4>
{% else %}
<h4>We have {{number}} samples in total:</h4>
{% endif %}

<br />
<table id="myTable" class="table table-sm table-striped table-bordered text-center">
  <thead style="background-color: cadetblue; color: white">
    <tr>

      <th scope="col">sampleid</th>
      <th scope="col">FlowcellSerialNumber</th>
      
      <th scope="col">i7index</th>
      <th scope="col">i7sequence</th>
      <th scope="col">i5index</th>
      <th scope="col">i5sequence</th>
    </tr>
  </thead>
  <tbody>
  	{% for sample in Samples_list %}
    <tr>

      <td><a style="color:#447e9b; font-weight:bold" href=" "> {{ sample.sampleid }} </a></td>
      <td>{{  sample.singlerun }}</td>    
      <td>{{  sample.i7index }}</td>
      <td>{{ barcode|key:sample.i7index }}</td>
      <td>{{  sample.i5index }}</td>
      <td>{{ barcode|key:sample.i5index }}</td>
    </tr>
    {% empty %}
    <li>No Runs yet.</li>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>

<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" ></script>
<script type="text/javascript">
   $(document).ready( function () {
    $('#myTable').DataTable();
} );

</script>

{% endblock %}