{% extends 'common/base.html' %}

{% block sidebar %}
<div id="sidebar" class="col-sm-2 col-md-2 col-lg-2" role="navigation">
  <div class="list-group navsiebar">
    <li class="sidebar-header">Nextseq App</li>
    <a href="{% url 'nextseq_app:userruns' %}" class="list-group-item list-group-item-action-custom editable">My Runs</a>      
    <a href="{% url 'nextseq_app:usersamples' %}" class="list-group-item list-group-item-action-custom" >My Libraries</a>      
    <a href="{% url 'nextseq_app:runandsample_add_inbulky' %}" class="list-group-item list-group-item-action-custom">Add a Run</a>
    <a href="{% url 'nextseq_app:allruns' %}" class="list-group-item list-group-item-action-custom">All Runs</a>      
    <a href="{% url 'nextseq_app:allsamples' %}" class="list-group-item list-group-item-action-custom" >All Libraries</a>
  </div>
</div> 
{% endblock %}

{% block content %}
{% endblock %}
