{% extends 'common/base.html' %}

  {% block title %}
  <title>SeqManager</title>
  {% endblock %}

{% block sidebar %}
<div id="sidebar" class="col-sm-2 col-md-2 col-lg-2" role="navigation">
  <div class="list-group navsiebar">
    <li class="sidebar-header">SeqManager App</li>
    <a href="{% url 'nextseq_app:userruns' %}" class="list-group-item list-group-item-action-custom editable">My Runs</a>      
    <a href="{% url 'nextseq_app:usersamples' %}" class="list-group-item list-group-item-action-custom" >My Libraries</a>      
    <a href="{% url 'nextseq_app:runandsample_add_inbulky' %}" class="list-group-item list-group-item-action-custom">Add a Run</a>
    <a href="{% url 'nextseq_app:allruns' %}" class="list-group-item list-group-item-action-custom">All Runs</a>      
    <a href="{% url 'nextseq_app:allsamples' %}" class="list-group-item list-group-item-action-custom" >All Libraries</a>
  </div>
  <br>
  <div class="googleCalendar">
    <iframe src="https://calendar.google.com/calendar/embed?src=n8ovlcimmbn0acoc44li7bc0u8%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
  <br>
  <div class="googleCalendar">
    <iframe src="https://calendar.google.com/calendar/embed?src=65nstmgo42luajull3n3ajte60%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>


</div> 

{% endblock %}

{% block content %}
{% endblock %}
