{% extends 'nextseq_app/base.html' %}
{% block sidebar %}

<div class="col-sm-2 col-md-2 col-lg-2">
  <div class="fixed col-sm-2 col-md-2 col-lg-2">
  <div class="card checkboxsidebar" >
    <div class="card-header">
       Choose To Display
    </div>
    <div class="card-body">
      <ul class="list-group checkboxsidebar">
      <label class="list-group-item" name="summary">Summary</label>
      <label class="list-group-item" name="libraries">Libraries</label>
        
      </ul>
    </div>
  </div>
  </div>
</div>
{% endblock %}
{% block content %}
{% load nextseq_app_tags %}
{% load humanize %}
<div id="content" class="col-sm-10 col-md-10 col-lg-10">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% if 'my' in request.META.HTTP_REFERER %}
      <li class="breadcrumb-item"><a class="linkblue" href="{% url 'nextseq_app:userruns' %}">My Runs</a></li>
      {% else %}
      <li class="breadcrumb-item"><a class="linkblue" href="{% url 'nextseq_app:allruns' %}">Runs</a></li>
      {% endif %}
      <li class="breadcrumb-item active" aria-current="page">{{ runinfo.Flowcell_ID }}</li>
    </ol>
  </nav>  

  {% include "nextseq_app/runsummary.html"%}
  {% include "nextseq_app/runlibraries.html"%}

</div><!-- /#content --> 



{% endblock %}