{% extends 'nextseq_app/base.html' %}

{% block content %}
{% load nextseq_app_tags %}
{% load humanize %}

<div id="content" class="col-sm-10 col-md-10 col-lg-10">
  <div class="card">
    <div class="card-header fortable">
      My Runs
    </div><!-- /.card-header -->
    <div class="card-body">
      <table class="table table-striped table-sm datatablesort2 text-center table-responsive-xl">
        <thead>
          <tr>
            <th scope="col">Flowcell</th>
            <th scope="col">Operator</th>
            <th scope="col">Date</th>
            <th scope="col">Read Type</th>
            <th scope="col">Read Length</th>
            <th scope="col">Total libraries</th>
            <th scope="col">Total reads</th>
            <th scope="col">%demultiplexed</th>	    	    
            <th scope="col">Last Modified</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for Run in RunInfo_list %}
          <tr>                
            <td><a id="flowcell-{{Run.Flowcell_ID}}" href="{% url 'nextseq_app:rundetail' Run.pk %}"> {{ Run.Flowcell_ID }} </a></td>
            <td>{{ Run.operator }}</td>
            <td id="date-{{Run.Flowcell_ID}}">{{ Run.date|date:"Y-m-d" }}</td>
            <td>{{ Run.read_type }}</td>
            <td>{{ Run.read_length }}</td>
            <td>{{ Run.total_libraries | default_if_none:""}}</td>
            <td>{{ Run.total_reads | default_if_none:"" | intcomma}}</td>
		<td>  <div class="progress">
		    <div class="progress-bar" role="progressbar" aria-valuenow={{Run.percent_of_reads_demultiplexed}} aria-valuemin="0" aria-valuemax="100" style="width:{{ Run.percent_of_reads_demultiplexed| default_if_none:""| percentage}}">
            {{ Run.percent_of_reads_demultiplexed| default_if_none:""|percentage }}
	  </div></td>
            <td>{{ Run.updated_at|date:"m/d/Y H:i" }}</td>
            {% if Run.jobstatus == 'Done'%}
            <td><span class="badge badge-success badge-status-green">Done</span></td>
            {% elif Run.jobstatus == 'ClickToSubmit' %}
              {% if Run.machine == 'IGM_HiSeq4000' or Run.machine == 'IGM_NovaSeq' %}
              <td><a class="btn btn-danger btn-sm btn-status-orange downloadajax" href="" data-toggle="modal" data-target="#downloadModal" data-href="{% url 'nextseq_app:downloadingfromigm' Run.id %}"
                id={{Run.Flowcell_ID}}>ClickToTransfer</a></td>
              {% else %}
              <td><a class="btn btn-danger btn-sm btn-status-orange dmpajax" href="" data-href="{% url 'nextseq_app:demultiplexing' Run.id %}" id={{Run.Flowcell_ID}}>ClickToDemultiplex</a></td>
              {% endif %}
            {% elif Run.jobstatus == 'JobSubmitted'%}
            <td><span class="badge badge-success badge-status-blue">JobSubmitted</span></td>
            {% elif Run.jobstatus == 'JobStarted'%}
            <td><span class="badge badge-success badge-status-lightblue">JobStarted</span></td>
            {% elif Run.jobstatus == 'Error'%}
            <td><span class="badge badge-success badge-status-yellow">Error</span></td>
            {% elif Run.jobstatus == 'Warning'%}
            <td><span class="badge badge-success badge-status-yellow" data-toggle="tooltip" data-placement="right" title="contain libraries with reads number less than 1000">Warning</span></td>
            {% endif %}
            <td>
              <a class="spacing" href="{% url 'nextseq_app:run_update' username=user.username run_pk=Run.id %}"><i class="fas fa-edit"></i></a>
              <a onclick="return confirm('Are you sure you want to delete {{ Run.Flowcell_ID }} ?');" href="{% url 'nextseq_app:run_delete2' Run.id %}"><i class="fas fa-trash-alt"></i></a>                
            </td>
          </tr>
          {% empty %}
          <li>No Runs yet.</li>
          {% endfor %}
        </tbody>
      </table>

    </div><!-- /.card-body -->
  </div><!-- /.card -->
</div><!-- /#content --> 

<!-- Modal -->
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Please supply the info from igm's email:</h5>

      </div>
      <div class="modal-body">
      <form id="downloadingform" action="" method="post">{% csrf_token %}  
        <input class="modalinput" type="text" name="downloadaddress" size="100" placeholder="Ftp address"><br><br>
        <input class="modalinput" type="text" name="username" size="100" placeholder="Username"><br><br>
        <input class="modalinput" type="password" name="pass" size="100" placeholder="Password"><br><br>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn confirm-btn-orange" id="submitForm">Confirm</button>
      </div>
    </div>
  </div>
</div>   
{% endblock %}
