{% extends 'common/base.html' %}

{% block title %}
<title>Collaborators</title>
{% endblock %}

{% block sidebar %}
{% load nextseq_app_tags %}

<div id="sidebar" class="col-sm-2 col-md-2 col-lg-2" role="navigation">
  <div class="list-group navsiebar">
    <li class="sidebar-header">Collaborators App</li>
    <a href="{% url 'manager_app:collab_list' %}" class="list-group-item list-group-item-action-custom-darkblue">All Collaborators</a>
    <a href="{% url 'manager_app:servicerequests_list' %}" class="list-group-item list-group-item-action-custom-darkblue editable">All ServiceRequests</a>
    <a href="{% url 'manager_app:quote_list' %}" class="list-group-item list-group-item-action-custom-darkblue ">All Quotes</a>   
    {% if request.user|has_group:"manager" %} 
    <a href="{% url 'manager_app:group_account_add' %}" class="list-group-item list-group-item-action-custom-darkblue ">Add a new group account</a> 
    {% endif %}
    <a href="{% url 'manager_app:collab_add' %}" class="list-group-item list-group-item-action-custom-darkblue ">Add a new collaborator</a>
     <a href="{% url 'manager_app:collabinfo_add' %}" class="list-group-item list-group-item-action-custom-darkblue ">Add new info to collaborator</a>
     <a href="{% url 'manager_app:collab_servicerequest_add' %}" class="list-group-item list-group-item-action-custom-darkblue ">Add a new ServiceRequest</a>
     <a href="{% url 'manager_app:quotes_bulk_add' %}" class="list-group-item list-group-item-action-custom-darkblue ">Add new Quotes</a> 
     <a href="{% url 'manager_app:quote_upload' %}" class="list-group-item list-group-item-action-custom-darkblue ">Upload a quote pdf</a>  
   <!--   <a href="{% url 'manager_app:quote_add' %}" class="list-group-item list-group-item-action-custom-darkblue ">Add a new Quote</a>    -->
  </div>
</div> 

{% endblock %}

{% block content %}
{% endblock %}