{% extends 'common/base.html' %}

{% block title %}
<title>Manager</title>
{% endblock %}

{% block sidebar %}
<div id="sidebar" class="col-sm-2 col-md-2 col-lg-2" role="navigation">
  <div class="list-group navsiebar">
    <li class="sidebar-header">Manager App</li>
    <a href="{% url 'manager_app:collab_list' %}" class="list-group-item list-group-item-action-custom-darkblue editable">All Collaborators</a>
    <a href="" class="list-group-item list-group-item-action-custom-darkblue ">Add a new collaborator</a> 
    
  </div>
</div> 

{% endblock %}

{% block content %}
{% endblock %}