<html>
<head>
  <title>Test</title>
  <style>
    @page { 
      size: Letter; 
      margin: 0.7in 0.7in 0.7in 0.7in; 
    }
    body {
      font-family: Arial, Helvetica, sans-serif;
      font-size:12px;
      line-height: 1.7;

      
    }
  </style>
  {% load static %}
  {% load nextseq_app_tags %}
</head>
<body>
  <img src="{% static 'images/CFE_letter.png' %}" alt="Center Logo" style="height:215px;margin-left:-80px;margin-top:-80px;" >
  <p style="margin-top: -10px;">Quote # {{ quote_id }}
  <br>
  <span style="font-style: italic;"> Note: This quote will expire 60 days from the date below </span>
  </p>

  <p style="margin-top: 15px;margin-bottom: 20px;">{{ date }}</p>
  
  {{ body | linkemail | tomultiplicationsign | safe | linebreaksbr }}

  <br>
  <br>
  <p>Sincerely,
  <br><img src="{% static 'images/LaurenSignature.png' %}" alt="signature" style="height:40px">
  <br>Lauren Thomas
  <br>Epigenomic Program Analyst
  <br>Center for Epigenomics
  <br><a href="mailto:L7thomas@health.ucsd.edu">L7thomas@health.ucsd.edu</a>
  </p>
      
</body>
</html>