{% load nextseq_app_tags %}
{% load humanize %}
<div class="row" id="libraries">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card bottom15">
      <div class="card-header fortable collapseheader">
        <a data-toggle="collapse" href="#collapse2" aria-expanded="true" aria-controls="collapse2"><i class="fa fas fa-caret-right collapseheader fa-lg fa-fw"></i><i class="fa fa-caret-down collapseheader fa-lg fa-fw"></i></a>
        Libraries
        <button type="button" class="close" aria-label="Close">
           <span aria-hidden="true">&times;</span>
        </button>
      </div><!-- /.card-header -->
      <div class="collapse show" id="collapse2">
        <div class="card-body">
          <br />
          <table class="table table-sm table-striped text-center table-responsive-xl">

            
            <thead>
            <tr>
              {% for x in featureheader %}
              <th>{{ x }}</th>
              {% endfor %} 
            </tr>
            </thead>

            {% if setinfo.experiment_type == 'ChIP-seq' %}                  
            {% for x in featureinfo %}
            <tr>
              <td><a href="{% url 'masterseq_app:seq_detail_fromseqid' x.0 %}">{{ x.0 }}</a></td>                 
              <td>{{ x.1 }}</td>
              <td>{{ x.2 | default_if_none:"" }}</td>
              <td>{{ x.3 | default_if_none:"" }}</td>
              <td>{{ x.4 | default_if_none:"" }}</td>
              <td>{{ x.5 | default_if_none:"" }}</td>
              {% if x.6 == 'No' %}
              <td><span style="color:red;">{{ x.6 }}</span></td>
              {% else %}
              <td><span style="color:#3CB371;">{{ x.6 | default_if_none:"" }}</span></td>
              {% endif %}
              {% if x.7 == 'No' %}
              <td><span style="color:red;">{{ x.7 }}</span></td>
              {% else %}
              <td><span style="color:#3CB371;">{{ x.7 | default_if_none:"" }}</span></td>
              {% endif %}      
            }
            </tr>
            {% endfor %} 


            {% else %}                 
            {% for x in featureinfo  %}
            <tr>                  
              <td><a href="{% url 'masterseq_app:seq_detail_fromseqid' x.0 %}">{{ x.0 }}</a></td>                 
              <td>{{ x.1 | default_if_none:""}}</td>
              <td>{{ x.2 | default_if_none:"" }}</td>
              <td>{{ x.3 | default_if_none:"" }}</td>
              {% if x.4 == 'No' %}
              <td><span style="color:red;">{{ x.4 }}</span></td>
              {% else %}
              <td><span style="color:#3CB371;">{{ x.4 | default_if_none:"" }}</span></td>
              {% endif %}
              {% if x.4 == 'No' %}
              <td><span style="color:red;">{{ x.4 }}</span></td>
              {% else %}
              <td><span style="color:#3CB371;">{{ x.4 | default_if_none:"" }}</span></td>
              {% endif %}     
            </tr>
            {% endfor %} 

            {% endif %}                 
          </table>
        </div><!-- /.card-body --> 
      </div><!-- /.collapse -->             
    </div><!-- /.card -->
  
  </div>
</div>
