{% extends 'common/base.html' %}
{% block navheader %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}

<div id="contentlogin" class="col-sm-10 col-md-10 col-lg-10 mx-auto">
  <div class="card">
    <div class="card-body">

      {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
      {% else %}
        <h3>Enter to log in:</h3>
        <br />      

      {% endif %}
      <form method="post" action=" {% url 'login' %} ">
        {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <input class="btn btn-info btn-sm" type="submit" value="Submit">
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
      </form>

    </div>
  </div>
</div>

{% endblock %}