{% extends 'common/base.html' %}
{% block title %}
<title>Single Cell App</title>
{% endblock %}


{% block sidebar %}
<div id="sidebar" class="col-sm-2 col-md-2 col-lg-2" role="navigation">
    <div class="list-group navsiebar">
        <li class="sidebar-header">Single Cell App</li>
        <a href="{% url 'singlecell_app:scindex' %}" class="list-group-item list-group-item-action-custom-darkblue">My
            Libraries</a>
        <a href="{% url 'singlecell_app:allsclibs' %}"
            class="list-group-item list-group-item-action-custom-darkblue">All
            Libraries</a>
        <a href="{% url 'singlecell_app:myseqs' %}" class="list-group-item list-group-item-action-custom-darkblue">
            My Sequences
        </a>
        <a href="{% url 'singlecell_app:allseqs' %}" class="list-group-item list-group-item-action-custom-darkblue">
            All Sequences
        </a>
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}