{% extends 'singlecell_app/base.html' %}
{% block content %}
{% load nextseq_app_tags %}
{% load singlecell_extras %}

<div id="content" class="col-sm-10 col-md-10 col-lg-10">

    <div class="card popup-overlay text-light" id="popup-overlay">
        <div class="card-body popup-content">
            <button class="close-popup btn btn-dark">X</button>
            <div class="card-body form-group">
                <h3 class="popup-title">CoolAdmin Submission</h3>

                <div class="submission-form form-control form-control-sm ">
                    <p class="font-weight-light"> Choose settings. Default settings already chosen. </p>
                    <form method="post">
                        {% csrf_token %}
                        {{form.as_p }}
                    </form>
                </div>
            </div>
            <!--past options available options-->
            <!--popup's submit button-->
            <button cool-submission-url="{% url 'singlecell_app:submitcooladmin' %}"
                class="submit-cool-popup btn btn-dark">Submit</button>
            <div class="sc-submissions">

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header fortable">

            {{ type }}
        </div><!-- /.card-header -->
        <div class="card-body">
            <table id="datatable-sc" class="table table-striped table-sm text-center table-responsive-xl">
                <thead>
                    <tr>
                        {% for head in header %}
                        <th> {{ head }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                {% if seqs_info %}
                {% for seq in seqs_info %}
                <tr>
                    <td>
                        {{ seq.0 }}
                    </td>
                    <td>
                        <a href="{% url 'masterseq_app:lib_detail' seq.2 %}">{{ seq.1 }}</a>
                    </td>
                    <td>
                        {{ seq.3 }}
                    </td>
                    <td>
                        {{seq.4}}
                    </td>
                    <td>
                        {{seq.5}}
                    </td>


                    {# comment seq.6: 10xProcessed#}

                    {% if seq.3 == '10xATAC' and seq.8 == 'Owner' or seq.3 == 'scATAC-seq' and seq.8 ==     'Owner' %}
                    {% if seq.6 == 'No' and seq.5 == 'Yes' and seq.3 == '10xATAC'  %}
                    <td>
                        <form method="post">{%csrf_token%}
                            <button type="submit" class="btn btn-primary btn-sm runsinglecell"
                                singlecell-submission-url="{% url 'singlecell_app:submitsinglecell'%}" email={{email}}
                                name="buttonTenX" value="{{seq.0}}">
                                Submit
                            </button>
                        </form>
                    </td>
                    {% elif seq.6 == 'No' and seq.5 == 'Yes' and seq.3 == 'scATAC-seq' %}
                    <td>
                        <form method="post">{%csrf_token%}
                            <button type="submit" disabled class="btn btn-primary btn-sm runsinglecell"
                                singlecell-submission-url="{% url 'singlecell_app:submitsinglecell'%}" email={{email}}
                                name="buttonTenX" value="{{seq.0}}">
                                Submit
                            </button>
                        </form>
                    </td>
                    {% elif seq.6 == 'No' and seq.5 == 'No' %}
                    <td>
                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip"
                            data-placement="top" title="No FASTQ files available" name="buttonTenX">
                            Submit
                        </button>
                    </td>
                    {%elif seq.6 == 'Yes' %}
                    <td>
                        {% url 'setqc_app:10xATACoutput2' seq.0 as the_url %}
                        <a href="{{the_url}}" class="btn btn-outline-primary btn-sm" role="button" name="buttonTenX">
                            Results
                        </a>
                    </td>
                    {%elif seq.6 == 'In Queue' or seq.6 == 'In Process' %}
                    <td>
                        <button type="button" class="btn btn-info btn-sm" disabled name="buttonTenX">
                            {{ seq.6 }}
                        </button>
                    </td>
                    {%else%}
                    <td>
                        <button type="btn btn-primary btn-sm" class="btn btn-danger btn-sm" disabled name="buttonTenX">
                            {{ seq.6 }}
                        </button>
                    </td>
                    {%endif%}
                    {%else%}
                    <td>
                        <button class="btn btn-secondary btn-sm" type="button" disabled name="buttonTenX">
                            {{ seq.6 }}
                        </button>
                    </td>
                    {% endif %}

                    {# comment seq.7: snapatac/cooladmin#}
                    {%if seq.7 == 'No' and seq.5 == 'Yes' and seq.8 == True %}
                    <td>
                        <button type="button" class="btn btn-primary btn-sm cooladmin"
                            cooladmin-submission-url="% url 'singlecell_app:submitcooladmin' %" value="{{seq.0}}"
                            email="{{email}}">
                            Submit
                        </button>
                    </td>
                    {% elif seq.7 == 'Submitted'%}
                    <td>
                        <button type="button" class="btn btn-info btn-sm">
                            Submitted
                        </button>
                    </td>
                    {%elif seq.7 == 'Yes' %}
                    <td>
                        <a href="#" role="button" class="btn btn-outline-primary btn-sm">
                            Results
                        </a>
                    </td>
                    {% else %}
                    <td>
                        <button type="button" disabled class="btn btn-primary btn-sm">
                            Submit
                        </button>
                    </td>
                    {% endif %}

                </tr>
                {% endfor %}
                {%else%}
                No seqs
                {% endif %}
            </table>
        </div>
    </div>
</div>


{% endblock content %}