{% extends 'singlecell_app/base.html' %}
{% block content %}
{% load nextseq_app_tags %}
{% load singlecell_extras %}

<div id="content" class="col-sm-10 col-md-10 col-lg-10">
    <div class="card">
        <div class="card-header fortable">
            {{ type }}
        </div><!-- /.card-header -->
        <div class="card-body">
            <table id="datatable-sc" class="table table-striped table-sm text-center table-responsive-xl">
                <thead>
                    <tr>
                        {% for head in header %}
                        <th> {{ head }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                {% if seqs_info %}
                {% for seq in seqs_info %}
                <tr>
                    <td>
                        {{ seq.0 }}
                    </td>
                    <td>
                        <a href="{% url 'masterseq_app:lib_detail' seq.2 %}">{{ seq.1 }}</a>
                    </td>
                    <td>
                        {{ seq.3 }}
                    </td>
                    <td>
                        {{seq.4}}
                    </td>
                    <td>
                        {{seq.5}}
                    </td>


                    {# comment seq.6: 10xProcessed#}

                    {% if seq.3 == '10xATAC' and seq.8 == 'Owner' or seq.3 == 'scATAC-seq' and seq.8 ==     'Owner' %}
                    {% if seq.6 == 'No' and seq.5 == 'Yes' and seq.3 == '10xATAC'  %}
                    <td>
                        <form method="post">{%csrf_token%}
                            <button type="submit" class="btn btn-primary btn-sm runsinglecell"
                                singlecell-submission-url="{% url 'singlecell_app:submitsinglecell'%}" email={{email}}
                                name="buttonTenX" value="{{seq.0}}">
                                Submit
                            </button>
                        </form>
                    </td>
                    {% elif seq.6 == 'No' and seq.5 == 'Yes' and seq.3 == 'scATAC-seq' %}
                    <td>
                        <form method="post">{%csrf_token%}
                            <button type="submit" disabled class="btn btn-primary btn-sm runsinglecell"
                                singlecell-submission-url="{% url 'singlecell_app:submitsinglecell'%}" email={{email}}
                                name="buttonTenX" value="{{seq.0}}">
                                Submit
                            </button>
                        </form>
                    </td>
                    {% elif seq.6 == 'No' and seq.5 == 'No' %}
                    <td>
                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip"
                            data-placement="top" title="No FASTQ files available" name="buttonTenX">
                            Submit
                        </button>
                    </td>
                    {%elif seq.6 == 'Yes' %}
                    <td>
                        {% url 'setqc_app:10xATACoutput2' seq.0 as the_url %}
                        <a href="{{the_url}}" class="btn btn-outline-primary btn-sm" role="button" name="buttonTenX">
                            Results
                        </a>
                    </td>
                    {%elif seq.6 == 'In Queue' or seq.6 == 'In Process' %}
                    <td>
                        <button type="button" class="btn btn-info btn-sm" disabled name="buttonTenX">
                            {{ seq.6 }}
                        </button>
                    </td>
                    {%else%}
                    <td>
                        <button type="btn btn-primary btn-sm" class="btn btn-danger btn-sm" disabled name="buttonTenX">
                            {{ seq.6 }}
                        </button>
                    </td>
                    {%endif%}
                    {%else%}
                    <td>
                        <button class="btn btn-secondary btn-sm" type="button" disabled name="buttonTenX">
                            {{ seq.6 }}
                        </button>
                    </td>
                    {% endif %}

                    {# comment seq.7: snapatac/cooladmin#}
                    {%if seq.5 == 'Yes' and seq.8 == 'Owner' and seq.7 == 'ClickToSubmit'%}
                    {% if seq.3 == '10xATAC' and seq.6 == 'Yes' or seq.3 != '10xATAC' %}
                    <td>
                        <button type="button" class="btn btn-danger btn-sm btn-status-orange cooladmin-submit"
                            cooladmin-submission-url="{% url 'singlecell_app:submitcooladmin' %}" value="{{seq.0}}"
                            email="{{email}}">
                            ClickToSubmit
                        </button>
                    </td>
                    {% else %}
                    <td>
                        <button type="button" class="badge-success badge-status-blue cooladmin-submit"
                            cooladmin-submission-url="{% url 'singlecell_app:submitcooladmin' %}" disabled
                            value="{{seq.0}}" email="{{email}}">
                            Run10xPipeline
                        </button>
                    </td>
                    {% endif %}
                    {%elif seq.5 == 'Yes' and seq.7 == '.status.fail' %}
                    <td>
                        <button type="button" class="badge badge-success badge-status-yellow cooladmin-status"
                            value="{{seq.0}}">
                            {{seq.7}}
                        </button>
                    </td>
                    {%elif seq.5 == 'Yes' and seq.7 == '.status.success'%}
                    <td>
                        <a href="{{seq.9}}" target="_blank">CoolAdmin Link</badge>
                        </a>
                    </td>
                    {% else %}
                    <td>
                        <button type="button" disabled class="badge badge-success badge-status-blue no-fastq">
                            {{seq.7}}
                        </button>
                    </td>
                    {% endif %}
                    <td>
                        <a href="{% url 'singlecell_app:editcooladmin' seq.0 %}"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
                {% endfor %}
                {%else%}
                No seqs
                {% endif %}
            </table>
        </div>
    </div>
</div>


{% endblock content %}